# Ignore node_modules directory
node_modules/

# Ignore dist directory (Webpack output)
dist/

# Ignore build directory (if used)
build/

# Ignore all image files in the vocabulary folder
vocabulary/*.jpg
vocabulary/*.jpeg
vocabulary/*.png
vocabulary/*.gif
vocabulary/*.svg

# Ignore Webpack config files 
webpack.config.js

# Ignore package files
package-lock.json
package.json

# Ignore temporary files
*.tmp
*.log